{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <title>Pontos turísticos - VivaBarra Turismo</title>
  <link rel="stylesheet" href="{% static 'vivabarra/css/style.css' %}" />
</head>

<body>
  <header>
    <img src="{% static 'imagens/logotipo2.png' %}" class="logotipo">
    <h1><a href="/">VivaBarra Turismo</a></h1>
    <nav>
      <a href="hoteis">Hotéis</a>
      <a href="restaurantes">Restaurantes</a>
      <a href="turismo">Pontos turísticos</a>
    </nav>
  </header>

  
  <main>
    <h2>Pontos turísticos na Barra</h2>

    <hr>

    <section>
      <h3>
        Farol da Barra (Forte de Santo Antônio da Barra)
      </h3>
      <p>
        Descrição: Um dos cartões-postais mais icônicos do Brasil. Construído no século XVII, o forte abriga o Museu Náutico da Bahia e oferece uma vista espetacular para o mar. É o ponto de encontro tradicional para contemplar o pôr do sol em Salvador.
      </p>
    </section>

    <section>
      <h3>
        Praia do Porto da Barra
      </h3>
     <p>
      Descrição: Famosa por suas águas calmas, mornas e transparentes, é ideal para banho, stand-up paddle e mergulho. Banhada pela Baía de Todos-os-Santos, foi eleita diversas vezes como uma das melhores praias urbanas do mundo.
     </p>
    </section>

    <section>
      <h3>
        Igreja de Santo Antônio da Barra
      </h3>
      <p>
        Descrição: Situada no alto de uma colina com vista para a entrada da baía, esta igreja histórica fundada no século XVII impressiona por sua simplicidade arquitetônica e pela vista panorâmica inesquecível do litoral da Barra.
      </p>
    </section>
  </main>

  <footer>
    <p>&copy; 2026 - VivaBarra Turismo | Todos os direitos reservados</p>
  </footer>
</body>
</html>